// FONTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
$poppins: "Poppins", sans-serif;

$open-sans: "Lato", sans-serif;

// COLORS
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$white: #fff;
$text: #666;

// devices break points
$mobile: rem-calc(530);
$tablet: rem-calc(768);
$laptop: rem-calc(1024);
$desktop: rem-calc(1366);
$desktop-xl: rem-calc(1920);

$max-width: rem-calc(1480);

// OLD VARIABLES

//fonts
$open-sans: "Lato", sans-serif;

//COLOURS
$mainGreen: #4caf50;

//top header colours
$lightGreen1: #92b788;

$homeGreen: #5f8256;
$textColor: #9194a1;
$purple: #5368df;
$grey: #ebebeb;
$gold: #ffd700;
$border: #dddddd;
$tomato: #ff385c;

$textColor2: #252b46;

$warm-blue: #0a66c2;
$facebook: #4267b2;
$button-color: #5f8256;
